:root {
	--the-green: rgb(51, 181, 51);
	--off-white: rgb(245, 245, 245);
	--the-dark: rgb(20, 20, 20);
	--the-blue: rgb(77, 115, 152);
}

/* 1. Generals */

body {
	background-color: var(--off-white);
	font-family: Trebuchet MS, serif;
	text-align: justify;
    margin: 0;
}

h1, h2, h3, h4 {
	font-family: Didot, serif;
}

.button {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);

	height: 30px;
	line-height: 30px;

	padding-left: 10px;
	padding-right: 10px;

	border: 2px solid var(--the-dark);
	border-radius: 17px;

	color: var(--the-dark);
	font-family: Didot, serif;
	font-size: large;
}

.button:hover {
	border: 2px solid var(--off-white);
	color: var(--off-white);
	background-color: var(--the-blue);
	cursor: pointer;
}

/* 1.1 Tiles */

tile {
	border-radius: 10px;
	width: 40vw;
	aspect-ratio: 1.66;
	background-size: max(40vw, min(400px, 80vw));
	min-width: min(400px, 80vw);
	display: inline-block;
	margin: 2%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

@media screen and (min-width: 601px) {
	tile-txt {
		visibility: hidden;
		opacity: 0;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		max-width: 45vw;
		z-index: 2;
		padding: 5px;

		background: rgba(255, 255, 255, 0.5);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border-radius: 10px;
	}

	tile:hover {
		-webkit-transform: scale(1.02);
		-ms-transform: scale(1.02);
		transform: scale(1.02);
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
	}

	tile:hover tile-txt {
		visibility: visible;
		opacity: 1;
		transition: all 1s ease;
	}
}

.tile-head {
	font-family: Didot, serif;
	font-size: xx-large;
}

.tile-sub {
	padding-bottom: 0.5em;
}

/* 2. Header */

header {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--off-white);
	color: var(--the-blue);
}

.logo {
	width: 5%;
	position: absolute;
	top: 1vw;
	left: 1vw;
}

.head-img {
	width: 100%;
	animation-name: fade-head-grow;
    animation-duration: 1s;
}

.head-img-narrow {
	width: 100%;
}

@keyframes fade-head-grow {
    0% {height: 13.471vw; opacity: 0;}
    20% {height: 42.139vw; opacity: 0;}
	100% {opacity: 1;}
}

header h1 {
	display: inline-block;
	font-size: 55px;
	margin: 0;
	padding: 0;
}

header h3 {
	display: inline-block;
	font-size: 25px;
    margin-top: 0.5vw;
	transform: translate(0, -5px);
}

.navbar {
	z-index: 50;
	position: fixed;
	width: 100%;
	padding-left: 2.5vw;

	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border-radius: 10px; */
}

.fluid {
	position: relative;
}

.navbar h3 {
	margin: 0;
}

a {
	color: var(--the-blue);
    text-decoration: none;
}

a:hover {
	color: var(--the-dark);
	cursor: pointer;
}

/* 3. Main */

main {
	left: 0;
	padding: 2.5%;
    padding-top: 70px;
	display: block;
	overflow: auto;
}

main h1, h2 {
	color: var(--the-blue);
}

 /* 3.1. Projects page */
.zone {
	vertical-align: top;
	position: relative;
	display: inline-block;
}

.left {
	width: calc(30% - 20px);
	margin-right: 20px;
}
.right {
	width: calc(68%);
}

.cbox {
	height: 50px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-bottom: 10px;
	overflow: hidden;

	/* border: 1px solid var(--the-dark); */
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	/* backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	border-radius: 10px;
}

.cbox-head {
	width: 100%;
	line-height: 50px;
	border-bottom: 1px solid black;

}

.cbox h4 {
	margin: 0;
	line-height: 50px;
	display: inline-block;
}

.plus, .minus {
	float: right;
	font-size: xx-large;
}

.plus:hover, .minus:hover {
	color: var(--the-dark);
	cursor: pointer;
}

.cbox .project {
	border-left: 2px solid var(--the-dark);
	padding-left: 2%;
}

.cbox .project:hover {
	border-left: 4px solid var(--the-blue);
	color: var(--the-blue);
	padding-left: calc(2% - 2px);
	cursor: pointer;
	transition: all 0.2s ease;
}

.cbox h3 {
	display: inline;
	line-height: 24px;
}

.focus {
	position: relative;
	padding: 2.5%;
	padding-top: 0%;
	display: none;

	border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	/* backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	border-radius: 10px;
}

.focus img {
	width: 100%;
}

/* 3.2. Popups */

popup {
	z-index: 100;
	display: none;
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

popup:target {
	display: block;
}

popup-box {
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background-color: var(--off-white);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 30px;
	padding-top: 0;
	overflow-x: scroll;
	text-align: center;
	overscroll-behavior: contain;
}

.popup-navbar {
	position: fixed;
	width: 90vw;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-left:-30px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.popup-navbar h2 {
	left: 50%;
	text-align: center;
	line-height: 30px;
	margin: 10px;
}

.back {
	position: absolute;
	top: 2.5%;
	right: 5%;
	transform: translate(0, -50%);

	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;

	color: var(--the-dark);
	background: url('img/xmark.png'), rgba(255, 255, 255, 0.5);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.back:hover {
	cursor: pointer;
}

popup-box img {
	width: 100%;
}

.popup-main-img {
	width: calc(100% + 60px);
	margin-left:-30px;
}

popup-box h3 {
	color: var(--the-blue);
}

.popup-disclaimer {
	position: absolute;
	left: 0;
	transform: translate(0, -68px);
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	color: var(--off-white);
}

popup-box .button {
	left: 0;
	transform: translate(0, 0);
	margin-right: 5px;
	margin-left: 5px;
}

/* 3.3. Portfolio */

.pill {
	display: inline-block;

	height: 20px;
	line-height: 20px;

	padding-left: 10px;
	padding-right: 10px;

	margin-top: -10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;

	border: 2px solid var(--the-dark);
	border-radius: 12px;

	color: var(--the-dark);
	font-family: Didot, serif;
	font-size: medium;
}

/* 4. Footer */

footer {
	position: relative;
	background-color: var(--off-white);
	color: var(--the-blue);
	font-family: Didot, serif;
	height: 6vw;
	line-height: 6vw;
	padding-left: 5vw;
	border-top: 1px solid var(--the-blue)
}