:root {
	--the-green: rgb(51, 181, 51);
	--off-white: rgb(245, 245, 245);
	--the-dark: rgb(20, 20, 20);
}

/* 1. Generals */

body {
	background-color: var(--off-white);
	font-family: Trebuchet MS, serif;
	text-align: justify;
}

h1, h2, h3, h4 {
	font-family: Didot, serif;
}

h1 {
	position: absolute;
	z-index: 2;
	top: 34.5vw;
	font-size: 3.75vw;
	padding-left: 2.5vw;
}

h3 {
	display: inline-block;
	font-size: 1.5vw;
}

/* 2. Header */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--the-dark);
	color: var(--off-white);
	height: 46.5vw;
}

.head-img {
	width: 100vw;
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0.4) 90%, rgba(0,0,0,0.4) 98%, rgba(0,0,0,0) 100%);
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0.4) 90%, rgba(0,0,0,0.4) 98%, rgba(0,0,0,0) 100%);
}

.navbar {
	position: absolute;
	top: 41.5vw;
	padding-left: 2.5vw;
}

a {
	color: var(--off-white);
}

a:hover {
	color: var(--the-green);
	cursor: pointer;
}

.current {
	color: var(--the-green);
	cursor: pointer;
}

/* 3. Main */

main {
	position: absolute;
	top: 44.5vw;
	left: 0;
	width: 95vw;
	padding: 2.5vw;
}
 /* 3.1. Projects page */

 left {
	float: left;
	width: 50%;
}

.cbox {
	width: 90%;
	height: 50px;
	border: 1px solid var(--the-dark);
	border-radius: 5px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	overflow: hidden;
}

.cbox h2, h4 {
	line-height: 0px;
}

.plus, .minus {
	text-align: right;
	line-height: 0px;
}

.plus:hover, .minus:hover {
	color: var(--the-green);
	cursor: pointer;
}

.minus {
	display: none;
}

hr {
	border: none;
	border-top: 0.5px solid var(--the-dark);
}

.cbox div {
	border-left: 2px solid var(--the-dark);
	padding-left: 2%;
}

.cbox div:hover {
	border-left: 4px solid var(--the-green);
	color: var(--the-green);
	padding-left: calc(2% - 2px);
	cursor: pointer;
}

.cbox h3 {
	line-height: 0px;
}

.cbox p {
	vertical-align: top;
	margin: 0;
	
}

right {
	float: right;
	width: 50%;
}

.focus {
	border: 1px solid var(--the-dark);
	border-radius: 5px;
	padding: 2.5%;
	padding-top: 0%;
	display: none;
}
