:root {
	--the-green: rgb(51, 181, 51);
	--off-white: rgb(245, 245, 245);
	--the-dark: rgb(20, 20, 20);
	--the-blue: rgb(77, 115, 152);
}

/* 1. Generals */

body {
	background-color: var(--off-white);
	font-family: Trebuchet MS, serif;
	text-align: justify;
    margin: 0;
}

h1, h2, h3, h4 {
	font-family: Didot, serif;
}

main h1, h2 {
	color: var(--the-blue);
}

header h1 {
	display: inline-block;
	font-size: 3.75vw;
	margin: 0;
	padding: 0;
}

header h3 {
	display: inline-block;
	font-size: 20px;
    margin-top: 0.5vw;
	transform: translate(0, -30%);
}

.button {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);

	height: 30px;
	line-height: 30px;

	padding-left: 10px;
	padding-right: 10px;

	border: 2px solid var(--the-dark);
	border-radius: 17px;

	color: var(--the-dark);
	font-family: Didot, serif;
	font-size: large;
}

.button:hover {
	border: 2px solid var(--off-white);
	color: var(--off-white);
	background-color: var(--the-blue);
	cursor: pointer;
}

/* 1.1 Tiles */

tile {
	border-radius: 0.4vw;
	/* background-color: var(--the-dark); */
	width: 46%; /* Half of main area, including all padding */
	padding-top: 339/559;
	display: inline-block;
	margin: 2%;

	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

tile img {
	position: relative;
	border-radius: 0.4vw;
	width: 100%;
}

tile-txt {
	visibility: hidden;

	position: absolute;
	width: 100%;
	max-width: 45vw;
	height: calc(43vw * 339/559);
	z-index: 2;
	color: var(--off-white);
	text-align: center;
}

.single {
	line-height: calc(43vw * 155/256);
}

.tile-head {
	font-family: Didot, serif;
	font-size: 2em;
	padding-left: 5%;
	padding-right: 5%;
}

.tile-sub {
	padding-top: calc((43vw * 155/256)/2 - 2.5em);
	padding-bottom: 0.5em;
}

tile:hover {
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}

tile:hover img {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
}

tile:hover tile-txt {
	visibility: visible;
}

.tile-4 {
	background-color: var(--the-dark);
	width: 21%; /* Quarter of main area, including all padding */
	height: calc(19.75vw * 1141/1262);
	display: inline-block;
	margin: 2%;
}


.tile-img-4 {
	position: relative;
	width: 100%;
}

.tile-txt-4 {
	visibility: hidden;

	position: absolute;
	width: inherit;
	height: calc(20vw * 1141/1262);
	line-height: calc(20vw * 1141/1262);
	z-index: 2;
	color: var(--off-white);
	text-align: center;
}

.tile-4:hover .tile-img-4 {
	opacity: 0.5;
}

.tile-4:hover .tile-txt-4 {
	visibility: visible;
}

/* 2. Header */

header {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--off-white);
	color: var(--the-blue);
	border-bottom: 1px solid var(--the-blue)
}

.logo {
	width: 5%;
	position: absolute;
	top: 1vw;
	left: 1vw;
}

.head-img {
	width: 100%;
	animation-name: fade-head-grow;
    animation-duration: 1s;
}

.head-img-narrow {
	width: 100%;
}

@keyframes fade-head-grow {
    0% {height: 13.471vw; opacity: 0;}
    20% {height: 42.139vw; opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fade-head-shrink {
    0% {height: 42.139vw; opacity: 0;}
    20% {height: 13.471vw; opacity: 0;}
	100% {opacity: 1;}
}

.navbar {
	height: 5vw;
    padding-top: 0;
	padding-left: 2.5vw;
}

a {
	color: var(--the-blue);
    text-decoration: none;
}

a:hover {
	color: var(--the-dark);
	cursor: pointer;
}

.current {
	color: var(--the-green);
	cursor: pointer;
}

@keyframes fade-head {
    0% {opacity: 0;}
    20% {opacity: 0;}
	100% {opacity: 1;}
}

/* 3. Main */

main {
	left: 0;
	width: 95%;
	padding: 2.5%;
    padding-top: 0.5%;
	display: block;
	overflow: auto;
}
 /* 3.1. Projects page */

 left {
	position: relative;
	float: left;
	width: 48.75%;
	min-height: 60vh;
}

.cbox {
	height: 50px;
	border: 1px solid var(--the-dark);
	border-radius: 5px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	overflow: hidden;
}

.cbox h2, h4 {
	line-height: 0px;
}

.plus, .minus {
	text-align: right;
	line-height: 0px;
}

.plus:hover, .minus:hover {
	color: var(--the-dark);
	cursor: pointer;
}

.minus {
	display: none;
}

hr {
	border: none;
	border-top: 0.5px solid var(--the-dark);
}

.cbox div {
	border-left: 2px solid var(--the-dark);
	padding-left: 2%;
	height: 24px;
}

.cbox div:hover {
	border-left: 4px solid var(--the-blue);
	color: var(--the-blue);
	padding-left: calc(2% - 2px);
	cursor: pointer;
}

.cbox h3 {
	display:inline;
	line-height: 24px;
}

.ooa {
	color: gray;
}

.cbox p {
	vertical-align: top;
	margin: 0;
}

right {
	position: relative;
	float: right;
	width: 48.75%;
	text-align: center;
}

right .button {
	position: relative;
	left: 0;
	transform: translate(0,0);
}

.focus {
	border: 1px solid var(--the-dark);
	border-radius: 5px;
	padding: 2.5%;
	padding-top: 0%;
	display: none;
}

.focus img {
	width: 100%;
}

/* 3.2. Popups */

popup {
	display: none;
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

popup:target {
	display: block;
}

popup-box {
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background-color: var(--off-white);
	border-radius: 10px;
	padding: 30px;
	overflow-x: scroll;
	text-align: center;
}

.back {
	margin-bottom: 0;
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--off-white);
}

.back:hover {
	cursor: pointer;
}

popup-box img {
	width: 100%;
}

popup-box div img {
	width: calc(100% + 60px);
	margin-left:-30px;
}

popup-box div h2 {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

popup-box h3 {
	color: var(--the-blue);
}

popup-box div p {
	position: absolute;
	left: 0;
	transform: translate(0, -68px);
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	color: var(--off-white);
}

popup-box .button {
	left: 0;
	transform: translate(0, 0);
	margin-right: 5px;
	margin-left: 5px;
}

/* 3.3. Portfolio */

.pill {
	display: inline-block;

	height: 20px;
	line-height: 20px;

	padding-left: 10px;
	padding-right: 10px;

	margin-top: -10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;

	border: 2px solid var(--the-dark);
	border-radius: 12px;

	color: var(--the-dark);
	font-family: Didot, serif;
	font-size: medium;
}

/* 4. Footer */

footer {
	position: relative;
	background-color: var(--off-white);
	color: var(--the-blue);
	font-family: Didot, serif;
	height: 6vw;
	line-height: 6vw;
	padding-left: 5vw;
	border-top: 1px solid var(--the-blue)
}