@media screen and (max-width: 600px) {
/* 1. Generals */

    header h1 {
        font-size: xx-large;
    }

    header h3 {
        font-size: x-large;
        transform: translate(0, 0);
    }

/* 1.1. Tiles */
    tile {
        border-radius: 20px;
        width: 90vw;
        background-size: 90vw;
        box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
    }

	tile-txt {
        visibility: visible;
        opacity: 1;
    
        position: absolute;
        transform: translate(-50%, calc((45vw / 1.66) - 50%));
        z-index: 2;
        padding: 5px;
    
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
    
        width: min(300px, 70vw);
    }

/* 3.2. Popups */
    .popup-main-img {
        margin-top: 40px;
    }

    .popup-disclaimer {
        position: relative;
        left: auto;
        transform: translate(0, 0);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: inherit;
    }

    popup-box>img {
        min-width: 80%;
    }
}