:root {
	--the-blue: rgb(77, 115, 152);
	--off-white: rgb(245, 245, 245);
	--the-dark: rgb(20, 20, 20);
}

/* 1. Generals */

body {
	background-color: var(--off-white);
	font-family: Roboto, sans-serif;
	text-align: justify;
    margin: 0;
}

h1, h2, h3, h4 {
	font-family: Didot, serif;
}

h2 {
	color: var(--the-blue);
}

h1 {
	display: inline-block;
	font-size: 3.75vw;
	margin: 0;
	padding: 0;
}

h3 {
	display: inline-block;
	font-size: 1.5vw;
	margin: 0;
	transform: translate(0, -30%);
}

/* 2. Header */

header {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--off-white);
	color: var(--the-blue);
	border-bottom: 1px solid var(--the-blue)
}

.logo {
	width: 5%;
	position: absolute;
	top: 1vw;
	left: 1vw;
}

.head-img {
	width: 100%;
	animation-name: fade-head-grow;
	animation-duration: 1s;
}

.head-img-narrow {
	width: 100%;
}

@keyframes fade-head-grow {
    0% {height: 13.471vw; opacity: 0;}
    20% {height: 42.139vw; opacity: 0;}
	100% {opacity: 1;}
}


.navbar {
    height: 5vw;
    padding-top: 0;
	padding-left: 2.5vw;
}

a {
	color: var(--the-blue);
    text-decoration: none;
}

a:hover {
	color: var(--the-dark);
	cursor: pointer;
}

/* .current {
	color: var(--the-green);
	cursor: pointer;
} */

/* 3. Main */

main {
	/* position: absolute;
	top: 44.5vw; */
	left: 0;
	width: 95vw;
	padding: 2.5vw;
    padding-top: 0.5vw;
}